:root {
	--primary-color: #c9f66f;
	--black-color: #1c1c1c;
	--dark-color: #252525;
	--white-color: #ffffff;
	--red-color: #e94e77;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	background-color: var(--dark-color);
	color: var(--white-color);
	font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

main {
	flex: 1 0 auto;
	margin: auto;
	max-width: 1280px;
	width: 96%;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
